ul {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 16px;
  justify-content: center;
}

.image {
  width: 200px;
  height: 200px;
  margin-left: 20px;
  border: 2px solid #8e83cd;
  transition: 0.3 all;
}

.image:hover {
  border-color: orange;
  transform: scale(2);
}

@media (min-width: 100px) and (max-width: 720px) {
  .image:hover {
    border-color: orange;
    margin: auto;
    transform: scale(1.9);
  }
}
